<div class="row">
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2> <%= @product.title %> </h2>


    <div class="product-price">
      <p>原價 <%= @product.price %> 元</p>
      <% if user_signed_in? && current_user.has_premium_membership? %>
        <strong>Premium 會員只要 <%= render_price_by_membership(current_user, @product) %> 元</strong>
      <% end %>
    </div>
  </div>
</div>
